html(lang="en" ng-app="app")
	head
		title Poker
		link(href="styles/styles.css" rel="stylesheet" type="text/css")
	body
		ng-view
		script(type="text/javascript", src="socket.io/socket.io.js")
		script(type="text/javascript", src="js/libs/angular.min.js")
		script(type="text/javascript", src="js/libs/angular-route.min.js")
		//script(type="text/javascript", src="js/libs/angular-ui-bootstrap.js")
		script(type="text/javascript" data-require="angular-bootstrap@0.12.0" data-semver="0.12.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js")
		script(type="text/javascript", src="js/router.js")
		script(type="text/javascript", src="js/controllers/lobby.js")
		script(type="text/javascript", src="js/controllers/dataModel.js")
		script(type="text/javascript", src="js/controllers/table.js")
		script(type="text/javascript", src="js/controllers/tabs.js")
		script(type="text/javascript", src="js/controllers/footer-tabs.js")
		script(type="text/javascript", src="js/controllers/login.js")
		script(type="text/javascript", src="js/controllers/chat.js")
		script(type="text/javascript", src="js/services/sounds.js")
		script(type="text/javascript", src="js/directives/seat.js")
		script(type="text/javascript", src="js/controllers/settings.js")
		script(type="text/javascript", src="js/directives/settings.js")
			