<div class="bg-lobby" ng-show="$root.username">
    <!-- Start Header -->
        <div ng-include="'templates/inc/header.html'"></div>
        <div ng-include="'templates/partials/profile.html'"></div>
    <!-- End Header -->
        <div class="container">
        	<div class="rows">
	        	<div class="col-7">
					<div class="tabs">
					    <div id="tabs" ng-controller="tabsController">
					        <ul>
					            <li class="headline" ng-repeat="tab in tabs" 
					                ng-class="{active:isActiveTab(tab.url)}" 
					                ng-click="onClickTab(tab)">{{tab.title}}
				                </li>
					        </ul>
					        <div id="mainView">
					            <div ng-include="currentTab"></div>
					        </div>
					        <!--footer tabs-->
							<div ng-include="'templates/partials/tabs-footer.html'"></div>
							<!--end footer tabs-->
					    </div>
					    <script type="text/ng-template" id="holdem">
							<div ng-include="'templates/partials/holdem.html'"></div>
						</script>
						
						<script type="text/ng-template" id="tournament">
							<div ng-include="'templates/partials/tournament.html'"></div>
						</script>
						
						<script type="text/ng-template" id="vip">
							<div ng-include="'templates/partials/vip.html'"></div>
						</script>
					</div>
				</div>
				<div class="col-3">
					<div ng-include="'templates/partials/chat.html'"></div>
				</div>
			</div>
			<div class="clear"></div>
			
        <!-- Start Footer -->
            <div ng-include="'templates/inc/footer.html'"></div>
        <!-- End Footer -->

	</div>

</div>
