/*
  variables.scss
  
*/

// Colors
@light-purple: #9880e9;
@dark-purple: #160726;
@background-color: #5d2525;
@sidebar: #1A0909;
@transparent-purple: rgba(46,31,62,0.9);
@transparent-blk: rgba(0,0,0,0.9);
@player: rgba(0,0,0,0.7);
@lavender: #BE78E8;
@felt-red: #008b8b;
@dark-greek: #17541D;
@brown: #724F39;
@black: #333;
@tabs: #494949;
@tblstriped: #2e2e2e;
@border-table: #eee;
@white: #fff;
@color-success:                 green;
@color-info:                    blue;
@color-warning:                 orange;
@color-danger:                  #d9534f;

@linkbutton-color:              #444;
@linkbutton-background-color:   #eee;
@yellow: #f0ad4e;
@pink: #DA0040;
@dark-red: #8E082F;
@pink-trans: rgba(249, 64, 114, 0.5);

@color0: #999999;

@width3: 50%; 

@height0: 25px; 


//Icon-font

@icon-font-path:                "fonts/";
@icon-font-name:                "icomoon";

@font-size-big:                 2em;
@font-size-medium:              1.5em;
@font-size-small:               0.75em;
@icon-vertical-align:           -15%;