<div class="chat-room">
	<div class="chat-headline">
		<h3><span class="icon-OnlineFriends"></span> Online Friends</h3>
	</div>
	<div class="chat-content">
		<div class="invated-friends">
			<button class="invated">Invate Friend</button>
			<p><i>invate your Friend to play LEGENDA POKER</i></p>
		</div>
		<ul>
			<li>{{$root.username}} <span class="icon-Lingkaran online"></span></li>
			<li>Users One <span class="icon-Lingkaran"></span></li>
			<li>Users Two <span class="icon-Lingkaran"></span></li>
			<li>Users Three <span class="icon-Lingkaran"></span></li>
			<li>Users Four <span class="icon-Lingkaran"></span></li>
			<li>Users Five <span class="icon-Lingkaran online"></span></li>
			<li>Users Six <span class="icon-Lingkaran online"></span></li>
		</ul>
	</div>
</div>