<div class="modal-wrap" ng-show="buyInModalVisible">
	<div class="modal">
		<form ng-submit="sitOnTheTable()">
			<h1>{{table.name}}</h1>
			<span class="table-requirements">Max buy-in {{table.maxBuyIn}}</span>
			<span class="table-requirements">Min buy-in {{table.minBuyIn}}</span>
			<span class="table-requirements">You have a total of {{$root.totalChips}} chips</span>
			<span class="table-requirements error" ng-show="buyInError">{{buyInError}}</span>
			<input class="input-left" type="number" ng-model="buyInAmount" ng-trim="true" required>
			<input type="submit" value="Sit in">
		</form>
	</div>
	<div id="curtain" ng-show="buyInModalVisible" ng-click="buyInModalVisible=false"></div>
</div>