<div class="row controls">
	<div class="chat-cell">
		<div id="chat" ng-controller="ChatController">
			<div id="messages"></div>
			<form ng-submit="sendMessage()">
				<input type="text" ng-model="messageText">
				<input type="submit" value="↵">
			</form>
		</div>
	</div>
	<div class="cell">
		<button class="control-button" ng-click="fold()" ng-show="showFoldButton()">Fold</button>
		<button class="control-button" ng-click="postBlind(false)" ng-show="actionState === 'postSmallBlind' || actionState === 'postBigBlind'">Sit Out</button>
		<button class="control-button" ng-click="leaveTable()" ng-show="showLeaveTableButton()">Leave Table</button>
	</div>
	<div class="cell">
		<button class="control-button" ng-click="sitIn()" ng-show="$root.sittingOnTable !== null && !$root.sittingIn">Sit In</button>
		<button class="control-button" ng-click="postBlind(true)" ng-show="actionState === 'postSmallBlind'">Small Blind ({{table.smallBlind}})</button>
		<button class="control-button" ng-click="postBlind(true)" ng-show="actionState === 'postBigBlind'">Big Blind ({{table.bigBlind}})</button>
		<button class="control-button" ng-click="check()" ng-show="showCheckButton()">Check</button>
		<button class="control-button" ng-click="call()" ng-show="showCallButton()">Call {{callAmount()}}</button>
	</div>
	<div class="cell">
		<button class="control-button" ng-click="bet()" ng-show="showBetButton()">Bet {{betAmount}}</button>
		<button class="control-button" ng-click="raise()" ng-show="showRaiseButton()">Raise to {{betAmount}}</button>
	</div>
	<div class="double-cell">
		<div class="cell-content">
			<input type="range" ng-show="showBetRange()" min="{{minBetAmount()}}" max="{{maxBetAmount()}}" ng-model="betAmount">
			<input type="number" id="bet-input" ng-show="showBetInput()" min="{{minBetAmount()}}" max="{{maxBetAmount()}}" ng-model="betAmount" value="{{betAmount}}">
		</div>
	</div>
</div>